:root {
  --landscape-width: 25; 
  --portrait-width: 80vw;
  --header-height: 4rem;
  --secs: 0.4s;
  --bg-left:#FBFBFB;
  --bg-right: #FBFBFB;
  --bg-main: #FBFBFB;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  overflow: hidden;
}

#layout {
  display: flex;
  overflow: hidden;

  .header {
    position: relative;
    height: var(--header-height);
    text-align: center;
    .title { position: absolute; left: 0; right: 0; }
  }
  .content {
    overflow: auto;
    box-sizing: border-box;
    height: calc(100vh - var(--header-height));
    padding: 1rem;
  }

  .list-ujian {
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .cursor-hand {
    cursor: pointer;
  }

  .vl {
    border-left: 6px solid #ff3232;
    height: 3.8vh;
  }

  .centerItems {
    display: flex;
    margin: auto;
  }

  .divTaks {
    background-color: transparent;
    margin-bottom: 5px;
    height: 50px;
    padding-right: 15px;
  }
  .divTaks:hover {
    background-color: #e5e5ff;
    cursor: pointer;
  }
  
  .testClose {
    margin: 20px;
  }
  .testClose:hover {
    cursor: pointer;
    text-shadow: 2px 2px 5px gray;
  }
}

// Main style:
#main { background: var(--bg-main); flex-grow: 1;
  .header { background: linear-gradient(to right, var(--bg-left), var(--bg-right));
    @media (orientation: landscape) {
      .title { transition: left var(--secs), right var(--secs);
        &.left-closed { left: var(--header-height); }
        &.right-closed { right: var(--header-height); }
      }
    }
  }
}

// Style sidebars:
#left, #right { transition: width var(--secs); width: 0;
  @media (orientation: landscape) {
    &.open { width: calc(1% * var(--landscape-width)); }
  }
  .icon { position: fixed; z-index: 10;
    width: var(--header-height); height: var(--header-height);
    line-height: var(--header-height); font-size: var(--header-height);
    text-align: center; user-select: none; cursor: pointer;
  }
  .sidebar { transition: transform var(--secs);
    @media (orientation: portrait) { width: var(--portrait-width); }
    @media (orientation: landscape) { width: calc(1vw * var(--landscape-width)); }
    .header { width: calc(100% - var(--header-height)); }
  }
}

// Left sidebar style:
#left { z-index: 5;
  .sidebar { background: var(--bg-left);
    &.closed { transform: translateX(-100%); }
    .header { left: var(--header-height); }
  }
}

// Right sidebar style:
#right { .icon { right: 0; } box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .sidebar { background: var(--bg-right);
    @media (orientation: portrait) {
      &.open { transform: translateX(-100%); }
    }
  }
}