/* CSS Dimulai Dari Sini */

.UjianOnline-header {
  padding: 1%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card-card {
  background-color: #ffff;
  border-radius: 15px;
  width: 100%;
  height: 'auto';
}
